body {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 880px;
    width: 880px;
}

.square {
    position: relative;
    width: 53px;
    height: 53;
    border: 1px solid black;
}